<!DOCTYPE html>
<html>
<head>
    <title>StockMarket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_new.css') }}">
</head>
<body style="background-image: url(/static/start.jpg); background-size:cover; background-position-x: center; background-position-y: top; background-repeat: no-repeat; background-color: rgba(255, 255, 255, 0.5);">
    <div class="navbar" style="background-color: #033c79;">
        <h1 style="color: white;"> StockMarket </h1>
        <a href="/login" class="nav1btn btn-login">Login/Register</a>
    </div>
    <script>
    window.addEventListener('scroll', handleScroll);

    function handleScroll() {
        const features = document.querySelector('.features');
        const imag = document.getElementById('imag');
        const tex = document.getElementById('tex');

        if (isInViewport(features) && !features.classList.contains('fadein')) {
            features.classList.add('fadein');
        }

        if (isInViewport(imag) && !imag.classList.contains('slideleft')) {
            imag.classList.add('slideleft');
        }

        if (isInViewport(tex) && !tex.classList.contains('slideright')) {
            tex.classList.add('slideright');
        }
    }

    function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }
    </script>
    <div class="start-area">
        <img src="{{ url_for('static', filename='stock4_pre.png') }}" style="max-width: 600px; max-height: 500px;" alt="img"/>
        <h1 style="font-size: 4em;margin-bottom: -10px; animation: zoomIn 1s ease-in-out; ">
            Stock Market Simulator
        </h1>
        <h3 style="animation: fadeIn 1s ease-in-out;">
            Online platform to stimulate stocks and analyse trends
        </h3>
        <a href="/login" class="navbtn btn-login" style="animation: blink 1.25s infinite; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">GET STARTED</a>
        <br/>
        <br/>
    </div>
    <div class="features">
        <img id="imag" src="{{ url_for('static', filename='stonks2.webp') }}" style="border-radius: 10px; max-width: 600px; max-height: 500px;" alt="img"/>
        <br/>
        <ul style="color: white;">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ABOUT US</h1>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to our Stock Analysis Platform! We're here to make stock analysis easy and accessible for everyone.
            Whether you're a seasoned investor or just starting, our platform provides powerful tools to help you make informed
            decisions about stocks.</p>
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">KEY FEATURES</h2>
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>REAL TIME STOCK INFORMATION :</strong> Stay updated with the latest stock prices and P/E ratios.</li>
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>USER FRIENDLY INTERFACE :</strong> Our platform is built for ease of use, ensuring a seamless
                experience.</li>
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>COMPARATIVE ANALYSIS : </strong> Easily compare multiple stocks to aid your decision-making.</li>
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>TECHNICAL FILTERS :</strong> Apply filters based on technical indicators for more tailored results.</li>
        </ul>
    
    </div>
    <div class="footer" style="background-color: #033c79;">
        <span></span>
        <span style="color: white; text-align: right; font-weight: 700; font-family: 'Courier New', Courier, monospace; padding-right: 20px;">Created by Jahnabi Roy and Abhinav Rajesh Shripad.</span>
    </div>
</body>
</html>
