<!DOCTYPE html>
<html>
<head>
    <title>StockMarket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_new.css') }}">
</head>
<body>
    <div class="navbar">
        <h1> StockMarket </h1>
        <a href="/compare_stock" class="navbtn btn-about"> Compare Stocks </a>
        <a href="/filter" class="navbtn btn-about"> Filter Stocks </a>
        <a href="/profile" class="navbtn btn-about"> Profile </a>
        <a href="/stocks_list" class="navbtn btn-about"> Explore Stocks</a>
        <a href="/dashboard" class="navbtn btn-about"> Back to Dashboard </a>
        <a href="/" class="navbtn btn-logout">Logout</a>
    </div>
    <div class="stocks-area">
        <img src="data:image/png;base64,{{ picture }}" width="70px" alt="PNG Image"/>
        <br/>
        <br/>
        <div style="font-size: 2.5em; font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{stock_name}}</div>
        <hr style="opacity: 0.25;"/>
        <p style="font-size: 0.5em; color: grey; padding-top: 10px; padding-bottom: 10px;">Current price graph adapted from Google Finance</p>
        <div>
            <span style="font-size: 3.5em;">₹ {{price}}</span>
            <div id="entire" style="background-color: rgb(224, 240, 219); display: inline-block; padding: 10px; border-radius: 5px; margin-left: 20px; margin-bottom: 10px;">
                <span id="price" style="font-size: 1.5em; color: red;"> <svg id="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path id='arrow-path' d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg> {{percentage_change}}%</span>
            </div>
            <span id="price-change" style="display: inline-block; padding: 10px; border-radius: 5px; background-color:red; font-size: 1.5em; color: white;"> {{change}} Today</span>
        </div>
        <div style="display: flex; justify-content: space-between; padding: 20px;">
        <div>{{svg | safe}}</div>
        <div class="information" style='margin-top: -100px; padding: 30px; padding-left: 50px; padding-right: 50px'>
            <p style="display: flex; justify-content: space-between;">
                <span style="font-size:smaller; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">PREVIOUS CLOSING</span>
                <span>₹ {{prev}}</span>
            </p>
            <hr style="opacity: 0.12;"/>
            <p style="display: flex; justify-content: space-between;">
                <span style="font-size:smaller; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">P/E RATIO</span>
                <span>{{pe_ratio}}</span>
            </p>
            <hr style="opacity: 0.12;"/>
            <input type="text" id="user_input" name="user_input" placeholder="No. of Stocks" style="padding: 10px; margin: 20px; margin-bottom: 10px; width:230px; text-align: center;">
            <div style="padding: 10px; margin-left: 10px; margin-right:10px; text-align: center;">
                <button onclick="BUY()" style="color:white; background-color: green;">BUY</button>
                <button onclick="SELL()" style="color:white; background-color: red;">SELL</button>
            </div>
            <hr style="opacity: 0.12;"/>
            <p style="display: flex; justify-content: space-between;">
                <span style="font-size:smaller; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">BALANCE</span>
                <span>₹<span id="balance"></span></span>
            </p>
            <p style="display: flex; justify-content: space-between;">
                <span style="font-size:smaller; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STOCKS</span>
                <span id="bought_sold"></span>
            </p>
            <p style="display: flex; justify-content: space-between;">
                <span style="font-size:smaller; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><span id="response" style="text-align: center; "></span></span>
            </p>
        </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const prevValue = parseFloat("{{change}}");
                const arrowIcon = document.getElementById('arrow-icon');
                const arrowPath = document.getElementById('arrow-path');
                const prices = document.getElementById('price');
                const bck = document.getElementById('entire');
                const chng = document.getElementById('price-change');
        
                // Check the sign of prevValue
                if (prevValue > 0) {
                    // Positive change, set arrow icon to up
                    arrowIcon.classList.add('bi-caret-up-fill');
                    arrowIcon.classList.remove('bi-caret-down-fill');
                    arrowIcon.style.fill = "green";
                    prices.style.color = "green";
                    chng.style.backgroundColor = "rgb(8, 117, 15)";
                    entire.style.backgroundColor = "rgb(224, 240, 219)";
                    arrowPath.setAttribute('d', 'M7.247 4.86 2.451 10.342C1.885 10.987 2.345 12 3.204 12h9.592a1 1 0 0 1 .753-1.659l-4.796-5.48a1 1 0 0 1-1.506 0z');
                } else if (prevValue < 0) {
                    // Negative change, set arrow icon to down
                    arrowIcon.classList.add('bi-caret-down-fill');
                    arrowIcon.classList.remove('bi-caret-up-fill');
                    entire.style.backgroundColor = "rgb(242, 233, 233)";
                    arrowIcon.style.fill = "red";
                    prices.style.color = "red";
                    chng.style.backgroundColor = "rgb(178, 8, 8)";
                    arrowPath.setAttribute('d', 'M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z');
                } else {
                    // No change, hide the arrow icon
                    arrowIcon.style.display = 'none';
                }
            });
        </script>
        <br/>
        <br/>
        <div style="padding-left: 250px;">
            <button style="text-align: center; color: white; background-color: rgb(0, 0, 0); padding: 10px; font-size: 1.5em;" onclick="toggleHistoricalData()"> GET HISTORICAL DATA </button>
        </div>
        <br/>
        <div id="historical" style="display: none; padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 1px;">
        <label for="startDate" style="margin: 5px; font-weight: 600; font-size: 1.25em;">START DATE:</label>
        <input  style="margin: 5px; padding: 10px;" type="date" id="startDate" required>
        <label for="endDate"  style="margin: 5px; font-weight: 600; font-size: 1.25em;">END DATE:</label>
        <input  style="margin: 5px; padding: 10px;" type="date" id="endDate" required>
        <button  style="margin: 5px;" onclick='fetchData()'>Fetch Data</button>
        <div style="width: 800px; height: 550px;">
            <canvas id="chartContainer"></canvas>
        </div>
    </div>
    <br/>
    <div class="info" style='padding-left: 40px; padding-top: 40px;'>
        <span style="font-size: 1.5em; font-weight: 600;">ABOUT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
        </svg></span>
        <br/>
        <br/>
        <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.25em;">{{info}}</div>
        <br/>
    </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="footer">
        <span></span>
        <span style="color: black; text-align: right; font-weight: 700; font-family: 'Courier New', Courier, monospace; padding-right: 30px;">Created by Jahnabi Roy and Abhinav Rajesh Shripad.</span>
    </div>
    <script>
        function toggleHistoricalData() {
            var historicalElement = document.getElementById("historical");
            if (historicalElement.style.display === "none") {
                historicalElement.style.display = "block";
            } else {
                historicalElement.style.display = "none";
            }
        }
    </script>
    <script>
        const username = "{{ username }}";
        update_balance();
        async function update_balance() {
            /// reads the balance from the user.db and renders it
            const response = await fetch('/get_balance');
            const data = await response.json();
            if (data) {
                const balance = data[0];
                document.getElementById('balance').innerText = balance;
            } else {
                document.getElementById('balance').innerText = "Unable to Access data base, Try again later";
            }
        }
    </script>
    <script>
        update_quantity();
    
        async function update_quantity() {
            const stock = "{{stock_name}}";
            const response = await fetch(`/get_quantity?stock=${stock}`);
            const data = await response.json();
            if (data) {
                const quantity = data[0];
                document.getElementById('bought_sold').innerText = quantity;
            } else {
                document.getElementById('bought_sold').innerText = "Unable to Access database. Please try again later.";
            }
        }
    </script>
    <script>
        async function BUY(){
            update_balance();
            update_quantity();
            const quantity = document.getElementById("user_input").value;
            const price = "{{price}}";
            const stock = "{{stock_name}}";
            const user = "{{user_name}}";
            const balance = document.getElementById("balance").innerText;
            const response = await fetch(`/BUY?quantity=${quantity}&price=${price}&stock=${stock}&user=${user}&balance=${balance}`,{
                method: 'POST',  // Use the POST method
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity,price, stock, user, balance })
            });

            const responseData = await response.json(); // Parse the response as JSON
            console.log(responseData); // Log the response data
            // Access responseData.message and responseData.stock_quantity here

            document.getElementById('response').innerText = responseData.message;
            ///console.log(responseData.message);
            if (responseData.message == "BOUGHT SUCCESSFULLY!") {
                document.getElementById('response').style.color = "green";
            }
            else {
                document.getElementById('response').style.color = "red";
            }
            update_balance();
            update_quantity();
        }
    </script>
    <script>
        async function SELL(){
            update_balance();
            update_quantity();
            const quantity = document.getElementById("user_input").value;
            const price = "{{price}}";
            console.log(quantity,price);
            const stock = "{{stock_name}}";
            const user = "{{user_name}}";
            const balance = document.getElementById("balance").innerText;
            console.log(balance);
            console.log(user);
            const response = await fetch(`/SELL?quantity=${quantity}&price=${price}&stock=${stock}&user=${user}&balance=${balance}`,{
                method: 'POST',  // Use the POST method
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity,price, stock, user, balance })
            });

            const responseData = await response.json(); // Parse the response as JSON
            document.getElementById('response').innerText = responseData.message;
            if (responseData.message == "SOLD SUCCESSFULLY!") {
                document.getElementById('response').style.color = "green";
            }
            else {
                document.getElementById('response').style.color = "red";
            }            
            // document.getElementById('responded').innerText = responseData.message;
            update_balance();
            update_quantity();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script>
        async function fetchData() {
            try {
                const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;
                const stock = '{{stock_name}}';
                const response = await fetch(`/query?stock=${stock}&startDate=${startDate}&endDate=${endDate}&stock=${stock}`,{
                    method: 'POST',  // Use the POST method
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ startDate, endDate, stock })
                });
        
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
        
                const data = await response.json();
        
        
                let dates  =[];
                let prices =[];
                console.log(data)
                for (let entry of data) {
                    dates.push(entry[0]);
                    prices.push(entry[1]);
                }
                const ctx = document.getElementById('chartContainer').getContext('2d');
                const existingChart = Chart.getChart(ctx);
                if (existingChart) {
                    existingChart.destroy();
                }
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Prices',
                            data: prices,
                            borderColor: 'rgb(75, 192, 192)',
                            borderWidth: 2,
                            fill: false,
                            pointStyle: 'none',
                            pointRadius: 0,
                        }],
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    displayFormat:{
                                        day: 'MMM D, YYYY'
                                    }
                                },
                            },
                            y: {
                                beginAtZero: false,
                            },
                        },
                    },
                });
            } catch (error) {
                console.error('Error fetching or processing data:', error);
            }
        }
 
    </script>
</body>
</html>